@use '../variables'
@use '../mixins'

.stacks ul
    @include mixins.grid-center-2
    justify-items: left
    
    gap: 1rem
    padding-block: 1rem
    color: variables.$ff-color-gray
    
    li 
        @include mixins.flex-center
        gap: .5rem

        svg
            font-size: 1.8rem
            color: variables.$ff-color-celeste

        &:hover
            color: variables.$ff-color-gray
            
            
