@use 'variables'

*
    font-family: variables.$font-stack
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: variables.$bg-color-black-2
    color: variables.$ff-color-platinum


a, svg
    transition: .4s